::ng-deep {
  .edit-custom-modal {
    .mat-dialog-container {
      position: fixed;
      padding: 20px;
      border-radius: 8px;
      background: white;
      width: 600px;
      max-width: 90vw;
      height: auto;
      display: flex;
      flex-direction: column;
    }
  }

  .cdk-overlay-backdrop {
    background: rgba(0, 0, 0, 0.5) !important;
  }

  .cdk-overlay-pane {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }

  .cdk-overlay-container {
    justify-items: center;
  }
}

// Buttons
.btn-primary {
  background-color: #3f51b5;
  color: white;
}

// Form styling
.full-width {
  width: 100%;
}

mat-form-field {
  width: 100%;
}

mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

// Input field adjustments
.small-input {
  mat-form-field {
    font-size: 11;
  }

  input {
    height: 34px !important;
    font-size: 12px !important;
    color: black;
  }

  mat-label {
    font-size: 12px !important;
  }

  ::placeholder {
    font-size: 12px !important;
    color: gray;
  }

  mat-error {
    font-size: 12px !important;
    color: red;
  }

}


.title {
  color: #3f51b5;
  font-size: 22px;
  font-weight: 700;
}